<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "About", about_path %>
			<li><%= link_to "Contact", contact_path %>
			<li><a href="http://danjaffe.com/">Dan Jaffe</a></li>
			<li><a href="http://yahoo.com/">Yahoo!</a></li>
		</ul>
	</nav>
</footer>